@model IEnumerable<ThiOnlineMVC.KyThi>

@{
    ViewBag.Title = "Danh sách kỳ thi";
}

<div class="card shadow mb-4 text-center">
    <div class="card-header py-3">
        <h2 class="m-0 font-weight-bold text-primary">Quản lý kỳ thi</h2>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Thêm kỳ thi", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    Tên kỳ thi
                </th>
                <th>
                    Mô tả
                </th>
                <th>
                    Ngày bắt đầu
                </th>
                <th>
                    Ngày kết thúc
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKyThi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                       @item.NgayBatDau.Value.ToShortDateString()
                    </td>
                    <td>
                        @item.NgayKetThuc.Value.ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.IDKyThi }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.IDKyThi }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.IDKyThi })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

