@model ThiOnlineMVC.CauHoi

@{
    ViewBag.Title = "Xóa câu hỏi";
}


<div class="text-center">
    <h2>Xóa câu hỏi học</h2>
    <h3>Bạn có chắc chắn muốn xóa?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TenCauHoi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenCauHoi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MoTa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MoTa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DapAn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DapAn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TracNghiemA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TracNghiemA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TracNghiemB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TracNghiemB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TracNghiemC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TracNghiemC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TracNghiemD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TracNghiemD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DoanVan.TenDoanVan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DoanVan.TenDoanVan)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DoanVan.ChuongHoc.TenChuong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DoanVan.ChuongHoc.TenChuong)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DoanVan.ChuongHoc.MonHoc.TenMonHoc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DoanVan.ChuongHoc.MonHoc.TenMonHoc)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" /> |
                @Html.ActionLink("Quay trở lại danh sách", "Index")
            </div>
        }
    </div>
</div>