@model IEnumerable<ThiOnlineMVC.NguoiDung>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QueQuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoRong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VaiTro.TenVaiTro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QueQuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoRong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaiTro.TenVaiTro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDNguoiDung }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDNguoiDung }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDNguoiDung })
        </td>
    </tr>
}

</table>
