@model ThiOnlineMVC.DoanVan

@{
    ViewBag.Title = "Sửa đoạn văn";
}

<div class="center-block">
    <div>
        <div class="p-5 center-block">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Sửa thông tin đoạn văn!</h1>
            </div>
            @using (Html.BeginForm("Edit", "DoanVans", FormMethod.Post, new { @class = "user" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDDoanVan)
                    <div class="form-group">
                        @Html.EditorFor(model => model.TenDoanVan, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Tên đoạn văn" } })
                        @Html.ValidationMessageFor(model => model.TenDoanVan, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Mô tả" } })
                        @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("IDChuongHoc", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDChuongHoc, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" value="Save" class="btn btn-google btn-user btn-block">Lưu thông tin</button>
                </div>
            }
            <hr>
            <div class="text-center">
                <div>
                    @Html.ActionLink("Quay trở lại danh sách", "Index", "Chuonghocs", new { @class = "small" })
                </div>
            </div>
        </div>
    </div>
</div>
